$fluxopesquisa-models-breakpoints: ( 'phone-portrait': (min-width: 360px), 'window-small': (min-width: 600px));
@mixin fluxopesquisa-models-respond-to($breakpoint) {
  $raw-query: map-get($fluxopesquisa-models-breakpoints, $breakpoint);
  @if $raw-query {
    $query: if( type-of($raw-query)=='string', unquote($raw-query), inspect($raw-query));
    @media #{$query} {
      @content;
    }
  }
  @else {
    @error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
  }
}


/*==========================================================*/

$fluxopesquisa-models-colors: (
  font-color: #4a4a4a,
  table-header-border: #979797,
  table-header-bg: #E6E6E6,
  zebra-dark: #F5F5F5,
  row-hovered: #D2EDFF);
$fluxopesquisa-models-table-space: .6rem 1rem;

/*==========================================================*/

.c-fluxopesquisa-table-counter {
  font-size: 1.4rem;
  text-align: center;
  color: map-get($fluxopesquisa-models-colors, font-color);
  margin-bottom: .5rem;
  @include fluxopesquisa-models-respond-to('phone-portrait') {
    font-size: 1.6rem;
    text-align: right;
  }
}

.c-fluxopesquisa-table-container {
  // all: inital;
  color: map-get($fluxopesquisa-models-colors, font-color);
}

.c-fluxopesquisa-table-container__table {
  width: 100%;
}

.c-fluxopesquisa-table-container__table-header {
  display: none;
  background: map-get($fluxopesquisa-models-colors, table-header-bg);
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.4rem;

  @include fluxopesquisa-models-respond-to('window-small') {
    display: table-header-group;
  }
}

.c-fluxopesquisa-table-container__table-header > tr > th {
  padding: $fluxopesquisa-models-table-space;
  border: solid 1px map-get($fluxopesquisa-models-colors, table-header-border);
  &:last-child {
    border-left: none;
  }
  &:nth-last-child(2) {
    border-right: none;
  }
}

.c-fluxopesquisa-table-container__table-body {
  display: flex;
  flex-direction: column;
  @include fluxopesquisa-models-respond-to('window-small') {
    display: table-row-group;
  }
}

.c-fluxopesquisa-table-container__table-body > tr {
  cursor: pointer;
  transition: all .2s ease-in-out;
  margin-bottom: 1rem;
  border: solid 1px map-get($fluxopesquisa-models-colors, table-header-border);
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  &:nth-child(odd) {
    background-color: map-get($fluxopesquisa-models-colors, zebra-dark);
  }
  &:hover {
    transform: scale(1.01);
  }

  @include fluxopesquisa-models-respond-to('window-small') {
    display: table-row;
    transition: background .1s ease-in-out;
    &:hover {
      transform: none;
      background: map-get($fluxopesquisa-models-colors, row-hovered);
    }
  }
}

.c-fluxopesquisa-table-container__table-body > tr > td {
  padding: $fluxopesquisa-models-table-space;
  &:last-child {
    text-align: right;
    border-left: none;
  }
  &:nth-last-child(2) {
    border-right: none;
  }
  @include fluxopesquisa-models-respond-to('window-small') {
    border: solid 1px map-get($fluxopesquisa-models-colors, table-header-border);
  }
}

.c-fluxopesquisa-table-container__table-body > tr > td[data-title]:before {
  content: attr(data-title);
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.4rem;
  display: block;

  @include fluxopesquisa-models-respond-to('window-small') {
    content: none;
  }
}

.c-fluxopesquisa-table-container__delete-btn {
  border: none;
  background: none;
  color: map-get($fluxopesquisa-models-colors, font-color);
}
